:root {
    --bg-transparent-color: transparent;
    --bg-light-color: rgba(0, 68, 129, 0.9);
    --bg-hover-color: #3a6ebd;
    --bg-black-color: #6c8ab7;
    --font-color: #fff;
    --border-color: #1989fa;
    --disabled-color: #ccc;
    --box-shadow-color: rgba(0, 68, 129, 0.9);
}

// @include s-overflow;
@mixin s-overflow() {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
}
// @include m-overflow(2);
@mixin m-overflow($line) {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: $line;
    -webkit-box-orient: vertical;
}
// @include flex;   @include flex(column);
@mixin flex($direction: row) {
    display: flex;
    display: -webkit-flex;
    flex-direction: $direction;
}
// @include height(100%,10px);
@mixin height($ratio, $px) {
    height: calc(#{$ratio} - #{$px});
}
// @include width(100%,10px);
@mixin width($ratio, $px) {
    width: calc(#{$ratio} - #{$px});
}
// @include vh-center;
@mixin vh-center() {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* // 弹窗 */
.el-overlay-dialog {
    overflow: hidden;

    .el-dialog {
        display: flex;
        flex-direction: column;
        max-height: 100vh;
        .el-dialog__header,
        .el-dialog__footer {
            position: relative;
            z-index: 1;
            padding: 15px;
        }
        .el-dialog__header {
            margin-right: 0;
        }

        .el-dialog__body {
            overflow-y: auto;
            padding: 15px !important;
            flex: 1;
            box-shadow: inset 0 0 10px rgba(225, 225, 225, 0.9);
        }

        .el-dialog__footer {
            // box-shadow: 0 -2px 4px var(--box-shadow-color);
        }
        .el-dialog__headerbtn {
            top: 0;
            @include vh-center;
        }
    }
}
/* 按钮和框对齐方案 */
.el-form-item__content,
.el-cascader,
.el-input {
    height: auto !important;
    min-height: 0 !important;
    line-height: normal !important;
}

.el-button--mini,
.el-button--mini.is-round {
    padding: 6px 15px;
}
